.card {
  background-color: #fff;
  margin: 10px;
  /* text-align: center; */
  padding: 10px;
  border-radius: 4px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    box-shadow: 0 1px 3px #759FBC, 0 1px 2px #759FBC;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 35%;
  width: 344px;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.projectTitle {
  margin: 0 auto;
  padding-top: 0.125rem;
  color: #333;
  font-weight: 100;
  float: left;
}

.createdAt {
  font-size: 0.8em;
  clear: both;
  color: #757575;
}

.dropDown {
  font-size: 0.8em;
  float: right;
}
.dropDownBtn {
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
}

.dropDownContent {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}
.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDownContent a:hover {
  background-color: #ddd;
  cursor: pointer;
}
.dropDownContent {
  margin-left: -125px;
}
.dashboardLink {
  margin-top: 50px;
  color: #4859b8;
}

.logo {
  background-image: url('./assets/dots-vertical.png');
}
