.flexContainer {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
  align-items: left;
  justify-content: center;
}
.projectHeader{
  font-weight:100;
  font-size:3em;
  text-align:center;
}