/* Other styles for the page not related to the animated dropdown */

body {
  background: linear-gradient(to right, #0062e6, #33aeff);
}
.landingButton {
  text-decoration: none;
  margin: 0 10px;
}
.landingButton:hover {
  text-decoration: none;
}
